* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main_text: #2d2d2d;
  --main_color: #4c8ce4;
  --sub_color: #f1f3f5;
  --pure_white: #ffffff;
  --sub_title: #777777;
  --border_color: #f0f0f0;
}
body,
input::placeholder {
  font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  letter-spacing: 0.015em;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header,
nav {
  /* scroll-area의 flex: 1이 없을 때도 줄어들지 않게 안전장치 */
  flex-shrink: 0;
}
.container {
  width: 375px;
  height: 800px;
  margin: 50px auto;
  border: 3px solid green;
  background-color: var(--pure_white);
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.scroll-area,
.add-modal,
.custom-modal,
.alarm-modal {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* nav -> absolute로 변경, 60px 패딩 삭제 */
  /* padding-bottom: 60px; */
  /* flex: 1; */
}
.scroll-area {
  padding-bottom: 80px;
}
.scroll-area::-webkit-scrollbar,
.add-modal::-webkit-scrollbar,
.custom-modal::-webkit-scrollbar,
.alarm-modal::-webkit-scrollbar,
.alarm-item::-webkit-scrollbar {
  display: none;
}
header,
section {
  padding: 0 20px;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 24px;
  margin: 0;
  color: var(--main_text);
}
header span {
  color: var(--main_color);
}
/* == date == */
.date {
  width: 100%;
  height: 85px;
  background: var(--sub_color);
}
/* == mascot == */
.mascot {
  display: flex;
  margin-top: 45px;
}
.mascot-face {
  width: 35px;
  height: 35px;
  background: var(--main_color);
  border-radius: 100%;
  position: relative;
  animation: floating 2s ease-in-out infinite;
}
.mascot-bubble {
  position: relative;
  padding: 10px 20px;
  background: var(--main_color);
  border-radius: 30px;
  top: -15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.mascot-bubble::after {
  content: "";
  position: absolute;
  left: -7px;
  top: 80%;
  transform: translateY(-80%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 20px solid var(--main_color);
}
.mascot-bubble p {
  margin: 0;
  font-size: 13px;
  color: var(--pure_white);
  font-weight: normal;
}
.expression {
  width: 9px;
  height: 11px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
.left-eye,
.right-eye {
  position: absolute;
  width: 2px;
  height: 5px;
  border-radius: 20px;
  background: var(--main_text);
  animation: blink 4s ease-in-out infinite;
}
.left-eye {
  left: 0;
}
.right-eye {
  right: 0;
}
.mouth {
  width: 6px;
  height: 4px;
  background: var(--main_text);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px 4px 20px 20px;
}
/* == task == */
.task-add-btn {
  width: 45px;
  height: 45px;
  background-color: #000000;
  position: fixed;
  z-index: 5;
}
.modal-dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  display: none;
}
.modal-dimmed.active {
  display: block;
}
.add-modal {
  height: 450px;
  width: 100%;
  border: 1px solid red;
  background-color: var(--pure_white);
  /* border: 1px solid red; */
  position: absolute;
  bottom: 60px;
  z-index: 10;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  transform: translateY(100%);
  transition: 0.5s;
  /* display: none; */
}
.add-modal.open {
  transform: translateY(0);
}
/* 모달: 추가 */
.add-modal {
  overflow-y: auto;
}
.add-modal > div {
  margin-top: 25px;
}
.add-modal h2 {
  font-size: 22px;
}
.add-modal h3 {
  font-size: 15px;
  color: var(--sub_title);
}
.task-x-btn {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-color: red;
}
input[id="task-name"] {
  width: 100%;
  margin-top: 25px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--border_color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  padding: 0 15px;
}
input[id="task-name"]::placeholder {
  font-size: 14px;
  font-weight: normal;
}
input[id="task-name"]:focus {
  outline: none;
}
.task-time {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task-time span {
  font-size: 21px;
  font-weight: bold;
}
.time-list {
  display: flex;
  gap: 10px;
}
.time-list li {
  font-size: 13px;
  padding: 6px 15px;
  background-color: var(--sub_color);
  border-radius: 20px;
  color: var(--sub_title);
}
.time-list li.active {
  background-color: var(--main_color);
  color: var(--pure_white);
  font-weight: bold;
}
.custom-btn {
  display: flex;
  margin-top: 15px;
}
.custom-icon {
  padding: 10px 15px;
  border: 1px solid var(--border_color);
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-result {
  mask-image: url("/public/icons/icon-doing.svg");
  -webkit-mask-image: url("/public/icons/icon-doing.svg");
  background-color: var(--main_color);
  padding: 10px;
}
.title-result {
  padding: 10px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 10px;
  border-radius: 20px;
  justify-content: space-between;
  border: 1px solid var(--border_color);
}
.title-result b {
  font-weight: normal;
  font-size: 14px;
}
.title-result span {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: red;
}
.alarm-text-area {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.alarm-status {
  width: 100%;
  min-height: 45px;
  border: 1px solid var(--border_color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  position: relative;
  padding: 15px 20px;
  background-color: var(--pure_white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
.alarm-status b {
  font-size: 14px;
  font-weight: normal;
}
.alarm-result {
  display: none;
  font-size: 13px;
  color: var(--sub_title);
}
.alarm-result.active {
  display: block;
  /* max-height: 50px; */
}
.alarm-btn {
  width: 50px;
  height: 25px;
  right: 30px;
  border-radius: 20px;
  background-color: var(--sub_title);
  position: absolute;
  display: flex;
  align-items: center;
  border: 3px solid red;
}
.alarm-btn li {
  width: 20px;
  height: 20px;
  background-color: var(--pure_white);
  border-radius: 50%;
  position: absolute;
  left: 4px;
}
.task-set {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background-color: var(--sub_color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border_color);
}
.task-set.active {
  background-color: var(--main_color);
  border: 1px solid transparent;
}
.task-set.active h2 {
  color: var(--pure_white);
}
.task-modal .task-set {
  margin-top: 40px;
}
.task-set h2 {
  font-size: 16px;
  color: var(--sub_title);
}
/* 모달: 커스텀 */
.custom-modal {
  width: 100%;
  height: 550px;
  border-radius: 20px 20px 0 0;
  background-color: var(--pure_white);
  transform: translateY(100%);
  transition: 0.5s;
  position: absolute;
  bottom: 60px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  z-index: 20;
  /* display: none; */
}
.custom-modal.open {
  transform: translateY(0);
}
.custom-x-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: red;
  right: 20px;
  top: 30px;
}
.custom-preview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.custom-preview > h3 {
  font-size: 16px;
  color: var(--sub_title);
}
.preview-item {
  border-radius: 20px;
  width: 100%;
  height: 70px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.icon-preview {
  width: 24px;
  height: 24px;
  background-color: var(--main_text);
}
.preview-text {
  color: var(--main_text);
  margin-left: 15px;
}
.preview-text h3 {
  font-size: 15px;
}
.preview-text span {
  font-size: 13px;
}
.preview-mark {
  width: 24px;
  height: 24px;
  border: 1px solid red;
  margin-left: auto;
}
.custom-color {
  margin-top: 25px;
}
.color-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.color-list li {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}
.color-list li:not(.reset-color) {
  background-color: blue;
}
.reset-color {
  background-color: var(--pure_white);
  border: 1px solid var(--border_color);
}
.mark-list {
  width: 100%;
  height: 320px;
  border: 1px solid var(--border_color);
  margin-top: 25px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 15px;
}
.mark-section h3 {
  font-size: 14px;
  color: var(--sub_title);
}
.mark-section ul {
  display: flex;
  gap: 7px;
  margin-top: 10px;
}
.mark-section ul li {
  width: 30px;
  height: 30px;
  /* background-color: red; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border_color);
}
.mark-section ul li img {
  width: 20px;
  height: 20px;
}
.custom-set {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background-color: var(--sub_color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border_color);
}
.custom-set.active {
  background-color: var(--main_color);
  border: 1px solid transparent;
}
.custom-set.active h2 {
  color: var(--pure_white);
}
.custom-modal .custom-set {
  margin-top: 40px;
}
.custom-set h2 {
  font-size: 16px;
  color: var(--sub_title);
}
.alarm-modal {
  height: 400px;
  width: 100%;
  background-color: var(--pure_white);
  /* border: 1px solid red; */
  position: absolute;
  bottom: 60px;
  z-index: 10;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  /* transform: translateY(0); */
  transform: translateY(100%);
  /* display: none; */
  /* 테스트 완료시 100 설정 */
}
.alarm-modal.open {
  transform: translateY(0);
}
.alarm-x-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: red;
  right: 20px;
  top: 20px;
}
.alarm-time {
  width: 100%;
  height: 215px;
  background-color: var(--pure_white);
  display: flex;
  align-items: flex-end;
  /* border: 3px solid red; */
  padding: 0;
}
.time-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* border: 1px solid blue; */
}
.time-highlight {
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: #f1f3f5;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.time-colon,
.alarm-item li {
  position: relative;
  z-index: 2;
}
.time-colon {
  display: inline-flex;
  align-items: center;
}
.alarm-item {
  width: 60px;
  height: 100%;
  border: 1px solid black;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alarm-item li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}
.day-wrapper {
  background-color: var(--pure_white);
  padding: 25px 20px;
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px 20px 0 0;
  border: 1px solid var(--border_color);
}
.alarm-day {
  display: flex;
  gap: 10px;
  align-items: center;
}
.alarm-day h3 {
  font-size: 15px;
  color: var(--sub_title);
}
.alarm-day span {
  font-size: 14px;
  color: var(--main_color);
}
.day-list {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.day-item {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border_color);
  background-color: var(--pure_white);
  border-radius: 5px;
}
.day-item.select {
  background-color: var(--main_color);
  border: 1px solid transparent;
  color: var(--pure_white);
  font-weight: bold;
}
.alarm-set {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background-color: var(--sub_color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border_color);
  margin-top: 35px;
}
.alarm-set.active {
  background-color: var(--main_color);
  border: 1px solid transparent;
}
.alarm-set.active h2 {
  color: var(--pure_white);
}
.alarm-set h2 {
  font-size: 16px;
  color: var(--sub_title);
}
/* == todo == */
.todo {
  margin-top: 40px;
}
.todo-status {
  display: flex;
  gap: 7px;
}
.todo-status li {
  padding: 7px 12px;
  font-size: 12px;
  border-radius: 20px;
}
.todo-status li span {
  margin-left: 5px;
}
.todo-doing {
  background-color: var(--main_color);
  color: var(--pure_white);
}
.todo-done {
  background-color: var(--sub_color);
  color: var(--main_text);
}
.todo-list {
  /* border: 1px solid red; */
  margin-top: 25px;
}

.todo-wrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo-wrapper h2 {
  margin: 0;
  font-size: 16px;
}
.list-done {
  margin-top: 25px;
}
.todo-item {
  border-radius: 20px;
  width: 100%;
  height: 70px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.icon-doing {
  mask-image: url("/public/icons/icon-doing.svg");
  -webkit-mask-image: url("/public/icons/icon-doing.svg");
  background-color: var(--main_text);
}
.todo-text {
  color: var(--main_text);
  margin-left: 15px;
}
.todo-text h3 {
  font-size: 15px;
}
.todo-text span {
  font-size: 13px;
}
.todo-mark {
  width: 24px;
  height: 24px;
  border: 1px solid red;
  margin-left: auto;
  cursor: pointer;
}
/* action sheet */
.action-sheet {
  width: 100%;
  height: 180px;
  background-color: red;
  position: absolute;
  bottom: 0;
  z-index: 50;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--pure_white);

  transform: translateY(100%);
  transition: 0.5s;
}
.action-sheet.open {
  transform: translateY(0);
}
.action-x-btn {
  width: 24px;
  height: 24px;
  background-color: red;
  position: absolute;
  right: 20px;
}
.action-set {
  /* border: 1px solid red; */
  margin-top: 35px;
}
.action-edit,
.action-delete {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.action-edit span,
.action-delete span {
  font-size: 18px;
  font-weight: bold;
}
.action-edit {
  border-bottom: 1px solid var(--border_color);
}
.action-delete {
}

/* == nav == */
nav {
  width: 100%;
  height: 60px;
  border-radius: 20px 20px 0 0;
  background-color: var(--pure_white);
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  z-index: 40;
  padding: 0 40px;
}
.nav-area {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu-item li {
  width: 30px;
  height: 30px;
}
.menu-item li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icon-home,
.icon-chart,
.icon-setting {
  background-color: var(--main_text);
  width: 100%;
  height: 100%;
}
/* 이중 선택자로 기존 icon과 충돌 방지 */
.menu-item li.active .icon {
  background-color: var(--main_color);
}
.icon-home {
  mask-image: url("/public/icons/nav-home.svg");
  -webkit-mask-image: url("/public/icons/nav-home.svg");
}
.icon-chart {
  mask-image: url("/public/icons/nav-chart.svg");
  -webkit-mask-image: url("/public/icons/nav-chart.svg");
}
.icon-setting {
  mask-image: url("/public/icons/nav-setting.svg");
  -webkit-mask-image: url("/public/icons/nav-setting.svg");
}
/* == icon test == */
.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
/* === keyframe test === */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blink {
  0%,
  90%,
  100% {
    transform: scaleY(1); /* 평소에는 원래 크기 */
  }
  95% {
    transform: scaleY(0.1); /* 95% 시점에 세로로 아주 납작하게 (감은 효과) */
  }
}
