* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main_text: #2d2d2d;
  --main_color: #4c8ce4;
  --sub_color: #f1f3f5;
  --pure_white: #ffffff;
  --sub_title: #777777;
  --border_color: #f0f0f0;

  --pink_theme: #f0857a;
  --green_theme: #5bbf7a;
  --orange_theme: #ffc81e;
  --gray_theme: #a5abbd;
  --purple_theme: #8b7ec8;
}
body,
input::placeholder {
  font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  letter-spacing: 0.015em;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header,
nav {
  /* scroll-area의 flex: 1이 없을 때도 줄어들지 않게 안전장치 */
  flex-shrink: 0;
}
.container {
  width: 375px;
  height: 800px;
  margin: 50px auto;
  border: 3px solid green;
  background-color: var(--pure_white);
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header,
section {
  padding: 0 20px;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 24px;
  margin: 0;
  color: var(--main_text);
}
header span {
  color: var(--main_color);
}
/* == section == */
section:not(:last-child) {
  margin-top: 20px;
}
section h2 {
  font-size: 16px;
  color: var(--main_text);
}
section > ul {
  margin-top: 15px;
}
/* account */
.account-area {
  border: 1px solid var(--border_color);
  border-radius: 10px;
}
.account-area li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid var(--border_color);
  cursor: pointer;
}
.account-area li:last-child {
  border-bottom: 1px solid transparent;
}
/* app */
.app-area {
  border: 1px solid var(--border_color);
  border-radius: 10px;
}
.app-area li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid var(--border_color);
  cursor: pointer;
}
.app-area li:last-child {
  border-bottom: 1px solid transparent;
}
/* other */
.other-area {
  border: 1px solid var(--border_color);
  border-radius: 10px;
}
.other-area li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid var(--border_color);
  cursor: pointer;
}
.other-area li:last-child {
  border-bottom: 1px solid transparent;
}
/* == setting-screen == */
/* dimmed */
.modal-dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  display: none;
}
.modal-dimmed.active {
  display: block;
}
/* theme */
.color-theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--pure_white);
  display: none;
}
.color-theme.open {
  display: block;
}
.theme-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 30px;
  top: 23px;
  background: url(/public/images/close-btn-image.png) no-repeat center center;
  cursor: pointer;
}
.color-list {
  display: flex;
  margin-top: 30px;
  gap: 12px;
  flex-wrap: wrap;
}
.item {
  width: 150px;
  height: 130px;
  border: 1px solid var(--border_color);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.color-text {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  background-color: var(--pure_white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.check-mark {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url("/public/icons/icon-themecheck.svg") no-repeat center center;
  display: none;
}
.item.selected .check-mark {
  display: block;
}
.basic {
  background-color: var(--main_color);
}
.basic .color-text {
  color: var(--main_color);
}
.green {
  background-color: var(--green_theme);
}
.green .color-text {
  color: var(--green_theme);
}
.pink {
  background-color: var(--pink_theme);
}
.pink .color-text {
  color: var(--pink_theme);
}
.orange {
  background-color: var(--orange_theme);
}
.orange .color-text {
  color: var(--orange_theme);
}
.purple {
  background-color: var(--purple_theme);
}
.purple .color-text {
  color: var(--purple_theme);
}
.gray {
  background-color: var(--gray_theme);
}
.gray .color-text {
  color: var(--gray_theme);
}
.theme-set {
  width: 100%;
  height: 45px;
  margin-top: 50px;
  border: 1px solid var(--border_color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main_color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.theme-set h2 {
  color: var(--pure_white);
  font-size: 16px;
}
/* language */
.lang-setting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: var(--pure_white);
  z-index: 10;
  display: none;
}
.lang-setting h2 {
  font-size: 22px;
}
.lang-setting.open {
  display: block;
}
.lang-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: url(/public/images/close-btn-image.png) no-repeat center center;
  cursor: pointer;
}
.lang-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lang-list li {
  display: flex;
  align-items: center;
}
input[name="lang"] {
  display: none;
}
input[name="lang"] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}
/* 선택 전 */
input[name="lang"] + label::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--sub_title);
  margin-right: 10px;
  flex-shrink: 0;
}
/* 선택 후 */
input[name="lang"]:checked + label::before {
  background-color: var(--main_color);
  border-color: var(--main_color);
}
.lang-set {
  width: 100%;
  height: 45px;
  margin-top: 30px;
  border: 1px solid var(--border_color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main_color);
  color: var(--pure_white);
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.lang-set h2 {
  color: var(--pure_white);
  font-size: 16px;
}
/* == nav == */
nav {
  width: 100%;
  height: 60px;
  border-radius: 20px 20px 0 0;
  background-color: var(--pure_white);
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  z-index: 40;
  padding: 0 40px;
}
.nav-area {
  width: 100%;
  height: 100%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu-item li {
  width: 30px;
  height: 30px;
}
.menu-item li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icon-home,
.icon-chart,
.icon-setting {
  background-color: var(--main_text);
  width: 100%;
  height: 100%;
}
/* 이중 선택자로 기존 icon과 충돌 방지 */
.menu-item li.active .icon {
  background-color: var(--main_color);
}
.icon-home {
  mask-image: url("/public/icons/nav-home.svg");
  -webkit-mask-image: url("/public/icons/nav-home.svg");
}
.icon-chart {
  mask-image: url("/public/icons/nav-chart.svg");
  -webkit-mask-image: url("/public/icons/nav-chart.svg");
}
.icon-setting {
  mask-image: url("/public/icons/nav-setting.svg");
  -webkit-mask-image: url("/public/icons/nav-setting.svg");
}
/* == icon test == */
.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
